.comment-list-lazy-enter,
.comment-list-lazy-appear {
    opacity: 0.01;
}

.comment-list-lazy-enter.comment-list-lazy-enter-active,
.comment-list-lazy-appear.comment-list-lazy-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.comment-list-lazy-leave {
    opacity: 1;
}

.comment-list-lazy-leave.comment-list-lazy-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.comment-list li {
    list-style-type: none;
    margin: 20px;
}
