@import '../../common/style/color';

.todo-list-item {
    padding-top: 0;
    padding-bottom: 0;

    .item-label {
        float: none;
        padding: 10px 0;
        margin-right: 68px;
        overflow: hidden;

        .checkmark {
            float: left;

            &.glyphicon-check {
                color: $color-green
            }

            &.glyphicon-unchecked {
                color: $color-lighter;
            }
        }

        .item-text {
            display: block;
            margin-left: 20px;
            font-size: 14px;
            line-height: 18px;
        }
    }

    button {
        float: right;
        margin: 8px 0;
    }

    &.item-updating {
        pointer-events: none;

        * {
            opacity: .5 !important;
        }
    }
}

.todo-list-item:hover .checkmark.glyphicon-unchecked {
    color: $color-light;
}
