// @import url('../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss');

#app {
    padding: 20px 40px
}

p {
    color: #555;
}

li {
    list-style-type: square;
}

.hot-sauce {
    color: navy;
}
