// @import url('../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss');

#app {
    padding: 20px 40px
}

form {
    margin: 20px auto 30px;
}

li {
    list-style-type: square;
}

.status-error {
    padding: 10px;
    margin: 20px;
}

.status-loading {
    display: block;
    height: 50px;
    width: 50px;
    margin: 40px auto 10px;
    background: url('/src/assets/img/loading.svg') center center no-repeat;
}

// Bootstrap overrides

